body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #17933e;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #17933e;
}

.carousel-control-prev,
.carousel-control-next {
    margin: auto;
    width: 5%;
}

.centralizar {
    align-self: center;
}

button.carousel-control-next,
button.carousel-control-prev {
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-indicators {
    margin: auto;
    width: 10%;
}

span.carousel-control-next-icon.btn.btn-dark,
span.carousel-control-prev-icon.btn.btn-dark {
    border-radius: 40%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: red;
    /* Substitua "red" pela cor desejada */
}

img#home {
    max-height: 40px;
}

img.center.w-100 {
    max-height: 350px;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #94c13925;
}

.section-title {
    font-family: 'Quicksand', sans-serif;
}

#about,
#cardapio {
    background-color: #94c13925;
}

.text-colored {
    color: #17933e;
}

.carousel-inner {
    max-height: 600px;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #17933e;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #17933e;
}

.social-links li {
    list-style: none;
    display: inline;

}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    ul.nav.nav-pills.d-block.d-md-flex.pt-3 {
        padding-top: 10px;
        margin-bottom: -15px;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --bs: 0;
    }
}

@media (max-width: 991px) {
    ul.nav.nav-pills.d-block.d-md-flex.pt-3.pt-lg-0 {
        display: flex;
        justify-content: center!important;
    }
}
